html, body, .container {
    height: 100%;
    padding: 0px;
    margin: 0px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .header, .footer {
    flex: none;
    background-color: blue;
  }
  
  .content {
    flex: auto;
    display: flex;
    flex-direction: row;
  }
  
  .sidebar {
    flex: 30%;
    background-color: red;
  }
  
  .main {
    flex: 70%;
    background-color: yellow;
  }
  
  #map {
    height: 100%;
    width: 100%;
  }
  
  #layers, #legend {
    height: 50%;
  }
  
  @media screen and (max-width: 1024px) {
    .content {   
      flex-direction: column;
    }
  }